{% extends 'base.html' %}

{% block title %}List Pets{% endblock %}

{% block content %}
<h1>Pets</h1>
<div class="row">
    {% for pet in pets %}
    <div class="col-3">
        <img class="img-thumbnail" src="{{ pet.image_url() }}">
        <a href="/edit/{{ pet.id }}">{{ pet.name }}</a>
        {% if pet.available %} <b> is available!</b>{% endif %}
    </div>
    {% else %}
    <div class="col-12">No pets available.</div>
    {% endfor %}
</div>

<a href="/add" class="btn btn-success">Add Pet</a>
{% endblock %}